 .text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

html { 
  background: url("https://media.istockphoto.com/photos/row-of-old-books-with-colorful-covers-on-pastel-blue-background-up-picture-id1126130554?k=6&m=1126130554&s=170667a&w=0&h=Q5yME6gGtwJGY1uNAPRzy1v1dQ0jlD6GuPNzCtWUsIE=") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



/*footer styling for remaining at the bottom of the page and being responsive with the website cotent*/
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }


/*centered the container-fluid on the page if required this will amended for individual requirements.*/
 .container-sm
 {  display: flex;
  justify-content: center;
  align-items: center;
  }

  input[type=file] {
    margin-top: 45px;
   color: gray;
}

/*book styling when displaying*/
.card .card-image img {
    max-height: 150px;
    max-width: 100%;
    width: auto;
    margin: 0 auto;
    height: center;
}