{% extends "base.html" %}
{% block content %}
<h3 class="light-blue-text text-darken-4 center-align">Add Review for {{ book.title }}</h3>
<div class="row card-panel shadow text-darken-3">
   <form class="col s12" method="POST" action="{{ url_for('add_review', book_id=book._id) }}">
      <!-- book title                  
         "islike": request.form.get("islike"),
         "comment": request.form.get("comment"),
         -->
<!-- Review Comment -->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-align-left prefix white-text"></i>
            <textarea id="comment" name="comment" class="materialize-textarea validate" minlength="5" maxlength="500" required></textarea>
            <label for="comment">Edit Book Review</label>
         </div>
      </div>
      <!-- Is Like Comment -->
      <div class="row">
         <!-- Switch -->
         <div class="input-field col s12">
            <div class="switch">
               <p>Did You Like This Book?</p>
            </div>
         </div>
         <div class="input-field col s12">
            <div class="switch">
               <i class="fas fa-vote-yea orange-text"></i><label for="islike"> 
               No
               <input id="islike" name="islike" type="checkbox" checked>
               <span class="lever"></span>
               Yes
               </label>
            </div>
         </div>
      </div>
      <!-- submit button -->
      <div class="row">
         <div class="col s12 center-align">
            <button type="submit" class="btn-large orange darken-4 text-shadow">
            Add Review <i class="fas fa-plus-square right"></i>
            </button>
         </div>
      </div>
   </form>
</div>
{% endblock %}