{% extends "base.html" %}
{% block content %}
<h3 class="light-blue-text text-darken-4 center-align">Book Review Edit {{ book.title }}</h3>
<div class="row card-panel shadow text-darken-3">
   <form class="col s12" method="POST" action="{{ url_for('book_review_edit', review_id=review._id) }}">
      <!-- book title                  
         "islike": request.form.get("islike"),
         "comment": request.form.get("comment"),
         -->
      <!-- Review Comment -->
      <!-- Review Comment -->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-align-left prefix white-text"></i>
            <textarea id="comment" name="comment" minlength="5" maxlength="1000" class="materialize-textarea validate" required>{{- review.comment -}}</textarea>
            <label for="comment">Book Review Edit</label>
         </div>
      </div>
      <!-- Is Like Comment -->
      <div class="row">
         <!-- Switch -->
         <div class="input-field col s12">
            <div class="switch">
               <p>Did You Like This Book?</p>
            </div>
         </div>
         <div class="input-field col s12">
            <div class="switch">
               <i class="fas fa-align-left prefix orange-text"></i><label for="islike"> 
               No
               <input id="islike" name="islike" type="checkbox" {% if review.islike=='on' %}checked {% endif %}>
               <span class="lever"></span>
               </label>
            </div>
         </div>
      </div>
      <!-- submit button -->
      <div class="row">
         <div class="col s12 center-align">
            <button type="submit" class="btn-large orange darken-4 text-shadow">
            Edit Book Review <i class="fas fa-plus-square right"></i>
            </button>
         </div>
      </div>
   </form>
</div>
{% endblock %}