{% extends "base.html" %}
{% block content %}
<div class="row">
   <div class="col s12 m6">
      <h2 class="header center text-shadow">{{ book.title }}</h2>
      <div class="card transparent">
         <div class="card large center grey darken-3 white-text">
            <img src="{{ url_for('file', filename=book['book_cover']) }} " alt="Cover Art for{{ book.title }}"/>
         </div>
         <div class="card-stacked grey darken-3 white-text">
            <div class="card-content">
               <p> {{ book.description }}</p>
            </div>
            <div class="card-action center">
                <a href="{{ url_for('add_review', book_id=book._id) }}" class="btn-small orange darken-4 text-shadow align-center">Add
                Review</a>
            </div>
         </div>
      </div>
   </div>
   <div class="col s12 m6">
      <h2 class="header center text-shadow">Reviews</h2>
      {% if reviews|length > 0 %}
      <div class="row">
         <ul class="collapsible grey darken-3 white-text">
            {% for review in reviews %}
            <li>
               <div class="collapsible-header orange darken-4 white-text">
                  <div class="col s3">
                     <i class="fas fa-caret-down"></i>
                  </div>
                  <div class="col s9">
                     <strong>{{ review.user_id }}</strong>
                     {% if review.islike == "on" %}
                     <i class="fas fa-thumbs-up"></i>
                     {% else %}
                     <i class="fas fa-thumbs-down"></i>
                     {% endif %}
                     <i class="fas fa-clock"></i>
                     {% if review.create_date %}
                     {{ review.create_date.strftime('%Y-%m-%d') }}
                     {% endif %}
                  </div>
               </div>
               <div class="collapsible-body">
                  <strong>Review Details</strong>
                  <p>{{ review.comment }}</p>
                  <div class="row">
                  {% if session.user|lower == review.user_id|lower or session.user|lower =="admin" %}
                     <a href="{{ url_for('delete_review', review_id=review._id) }}" class="btn-small  red darken-1 text-shadow">Delete</a>
                     <a href="{{ url_for('book_review_edit', review_id=review._id) }}" class="btn-small  green darken-1 text-shadow">Edit</a> 
                     {% endif %}
                  </div>
               </div>
            </li>
            {% endfor %}
         </ul>
      </div>
      {% else %}
      <h3 class="grey-text text-darken-3 left-align text-shadow center">No Reviews Avaialble</h3>
      {% endif %}
   </div>
</div>
{% endblock %}
            